:root {
    --ff-display: "Waterfall", cursive;
    --ff-sans-serif-1: "Oswald", sans-serif;
    --ff-sans-serif-2: "Raleway", sans-serif;

    --ref-outline-1: 2px solid red;
    --ref-outline-2: 2px solid blue;

    /* Colors */
    --clr-dark: hsl(0, 0%, 32%);
    --clr-base: hsl(287, 56%, 20%);
    --clr-accent: hsl(287, 73%, 28%);
    --clr-light: hsl(0, 0%, 93%); 


    /* Her şey 55px yukarda olacak? */ 
}


/* Box sizing */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors on the page */
body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
} 

/* Typography */
h1 {
    font-family: var(--ff-display);
    font-size: clamp(4rem, 7vw + 3rem, 9rem);
    color: var(--clr-base);
}

h2 {
    font-family: var(--ff-sans-serif-1);
    font-size: clamp(2rem, 1.8vw + 1rem, 4rem);
    color: var(--clr-base);
}

p {
    font-family: var(--ff-sans-serif-2);
    font-size: clamp(1.5rem, 0.6vw + 1rem, 2rem);
}

.text-center {
    text-align: center;
}

/* Button states */
button {
    cursor: pointer;
    margin: .5em 0;
    padding: 0.1em 0.5em 0.2em;
    align-self: center;
    font-family: var(--ff-sans-serif-1);
    font-size: clamp(1.75rem, 1.2vw + 1rem, 2.2rem);
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border: none;
    border-radius: .3em;

    transition: 
        transform 200ms ease-out,
        filter 200ms ease-out;    
}

button:hover {
    transform: scale(1.1);
    filter: brightness(130%);
}

button:active {
    transform: scale(0.99);
    filter: brightness(115%);
}



/* Display */ 
.container {
    width: min(90%, 1600px);
    margin: 0 auto 1.5em;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}



/* Sections */
.intro-title {
    min-width: 40%;
}

.footer { 
    position: relative;
    bottom: 0%;
    left: 0%;
    width: 100%;
    margin: 0 auto;
    font-family: var(--ff-sans-serif-2);
}

footer p {
    font-family: var(--ff-sans-serif-1);
}

#message {
    position: relative;
}

#generated-message {
    width: min(100%, 40ch);
    margin: 0 auto;
    display: none;

    font-size: clamp(1.75rem, 1.2vw + 1rem, 2rem);
}



/* Media queries */
@media only screen and (min-width: 800px) {
    .flex {
        flex-direction: row;
        gap: var(--gap, 3rem);
    }

}