*{
    box-sizing: border-box;
}

body {
    background-color: #0A1A2D;  
}

h1 {
    font-family: "Marcellus";
    text-align: center;
    color: #DD6B4D;
    font-size: 60px;
    
}

h2 {
    font-family: "Marcellus";
    font-size: 40px;
    color: #DD6B4D;
    opacity: 0.8;
}

p {
    font-family: "Noto Sans Display";
    color: #DAE1E7;
}

.text-box {
    border-radius: 20px;
    background-color: #143E68;
    
}

.subtext-box {
    display: inline-block;
    padding: 10px 20px;
}