:root {
    --ff-display: "Waterfall", cursive;
    --ff-sans-serif-1: "Oswald", sans-serif;
    --ff-sans-serif-2: "Raleway", sans-serif;

    --ref-outline-1: 2px solid red;
    --ref-outline-2: 2px solid blue;

    /* Colors */
    --clr-base: 283, 100%, 15%;

    --clr-light: 0, 0%, 90%; 
    --satur: 65%;
    --bright: 40%;
    --opac: 0.97;
    --trans: 55%;
}


/* Box sizing */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors on the page */
body {
    color: hsla(var(--clr-light), 0.8);
    line-height: 1.5;
} 

.mesh-grad {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(var(--clr-light));
    background-image:
        radial-gradient(at 0% 0%, hsla(350, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        radial-gradient(at 40% 0%, hsla(4, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        radial-gradient(at 100% 0%, hsla(18, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        
        radial-gradient(at 0% 30%, hsla(270, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        radial-gradient(at 20% 65%, hsla(12, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        radial-gradient(at 80% 80%, hsla(5, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        radial-gradient(at 100% 40%, hsla(260, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        
        radial-gradient(at 0% 100%, hsla(350, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        radial-gradient(at 35% 100%, hsla(27, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans)),
        radial-gradient(at 100% 100%, hsla(270, var(--satur), var(--bright), var(--opac)) 0px, transparent var(--trans));
}


/* Typography */
h1 {
    font-family: var(--ff-display);
    font-size: clamp(3rem, calc(6vw + 1.2rem), 8rem);
    color: hsl(var(--clr-base));
}

h2 {
    font-family: var(--ff-sans-serif-1);
    font-size: clamp(1.5rem, calc(1.8vw + 1rem), 3rem);
    color: hsl(var(--clr-base));
    margin-bottom: .2em;
}

p, ol{
    font-family: var(--ff-sans-serif-2);
    font-size: clamp(1rem, calc(0.6vw + 1rem), 2rem);
}

.text-center {
    text-align: center;
}


/* Button states */
button {
    cursor: pointer;
    margin: 0.2em 0 1em;
    padding: 0.2em 0.8em 0.4em;
    align-self: center;
    font-family: var(--ff-sans-serif-1);
    font-size: clamp(1.1rem, calc(1.5vw + 0.5rem), 2.2rem);
    background-color: hsl(var(--clr-base));
    color: hsl(var(--clr-light));
    border: none;
    border-radius: 2em;

    transition: 
        transform 200ms ease-out,
        filter 200ms ease-out;    
}

.btn-small {
    cursor: pointer;
    margin: 0.2em 0 1em;
    padding: 0.2em 0.8em 0.4em;
    align-self: center;
    font-family: var(--ff-sans-serif-1);

    background-color: hsl(var(--clr-base));
    color: hsl(var(--clr-light));
    border: none;
    border-radius: 2em;

    transition: 
        transform 200ms ease-out,
        filter 200ms ease-out; 
}

button:hover, .btn-small:hover {
    transform: scale(1.08);
    filter: brightness(140%);
}

button:active, .btn-small:active {
    transform: scale(0.99);
    filter: brightness(115%);
}


/* Display */ 
.container {
    width: min(60ch, 92%);
    margin: 0 auto 1.5em;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

/* Sections */
.intro-title {
    min-width: 40%;
}

#message {
    position: relative;
}

#generated-message {
    width: 100%;
    margin: 0 auto;
    display: none;
    text-align: left;
    font-size: clamp(1.1rem, calc(1vw + 0.8rem), 2.2rem);
}

footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer p, footer ol, footer li {
    font-family: var(--ff-sans-serif-1);
    font-weight: 200;
}

footer p {
    font-size: clamp(1.2rem, calc(0.8vw + 1rem), 2.2rem);
}

footer ol {
    font-size: clamp(1rem, calc(0.8vw + 1rem), 2.2rem);
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .5em 0;
    gap: 0.8em;
}

#social-media ol, #social-media li {
    list-style: none;
}

#social-media li {
    font-weight: 400;
    font-size: clamp(0.9rem, calc(0.8vw + 0.6rem), 1.6rem);
}

/* Media queries */
@media only screen and (min-width: 600px) {
    .container {
        width: min(90%, 130ch);
    }

    h2 {
        margin-top: 0;
    }
    
    #intro {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin: .5em auto 1em;
    }
    
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .social-media-links {
        justify-content: flex-start;
        margin-bottom: 0;
        gap: 1em;
    }
    #social-media {
        text-align: left;
    }

    #collabolators {
        text-align: right;
    }

    
}